<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>873883295445-upb0l7nvntr3nheg3c3gdfgnpt8nrjcs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.873883295445-upb0l7nvntr3nheg3c3gdfgnpt8nrjcs</string>
	<key>API_KEY</key>
	<string>AIzaSyDgcIneLY2iwdd2nS4xBmiCaStyTfuyThE</string>
	<key>GCM_SENDER_ID</key>
	<string>873883295445</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-by-op</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-by-op.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:873883295445:ios:ce29e576104b9555a3cc5c</string>
</dict>
</plist>